
@media screen and (min-width: 768px) and (max-width: 992px) {
  main {
    background-image: linear-gradient(
      to top,
      var(--cor-vermelho-escurecido),
      var(--cor-azul-escuro)
    );
  }
  section#login {
    width: 80vw;
    height: 380px;
  }

  section#login > div#imagem {
    float: left;
    width: 30%;
    height: 100%;
  }
  section#login > div#formulario {
    float: right;
    width: 65%;
    padding-top: 10%;

  }
}

@media screen and (min-width: 992px) {
  main {
    background-image: linear-gradient(
      to top,
      var(--cor-vermelho-escurecido),
      var(--cor-azul-escuro)
    );
  }
  section#login {
    height: 50vh;
    width: 65vw;
  }
  section#login > div#imagem {
    float: right;
    height: 100%;
    width: 50%;
  }
  section#login > div#formulario {
    float: left;
    width: 50%;
    padding-top: 5%;
  }
  input,
  button {
    display: block;
    margin: 5px auto;
  }
}
